<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demai.entity.Follows">
    <resultMap id="followsMap" type="com.demai.entity.Follows">
        <id column="tkey" property="tkey" jdbcType="BIGINT"/>
        <result column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="target" property="target" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="inaddressbook" property="inAddressBook" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="INTEGER"/>
        <result column="star" property="star" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="BIGINT"/>

    </resultMap>

    <insert id="insert" parameterType="com.demai.entity.Follows"
            useGeneratedKeys="true" keyProperty="id">
        insert into follows (tkey,uid,target,type,memo,inaddressbook,content,star,time)
        values (#{tkey},#{uid},#{target},#{type},#{memo},#{inAddressBook},#{content},#{star},#{time})
    </insert>

    <delete id="deleteById" parameterType="long">
        delete from follows where tkey = #{tkey}
    </delete>

    <update id="update" parameterType="com.demai.entity.Follows">
        update follows
        <set>
            <if test="memo != null">
                memo = #{memo},
            </if>


        </set>
        where tkey = #{tkey}
    </update>

    <select id="findById" parameterType="long" resultMap="followsMap">
        select * from follows where tkey = #{tkey}
    </select>

    <select id="findRelation" parameterType="map" resultMap="followsMap">
        select * from follows where uid = #{uid} and target = #{target} limit 1
    </select>

    <select id="findSecond" parameterType="map" resultType="int">
        select count(1) from follows where type = 2
        and uid in (select distinct target from follows where type =2 and uid = #{uid}) and target = #{target}
    </select>

    <select id="findMap" parameterType="map" resultMap="followsMap">
        select * from follows where uid = #{uid}
        <if test="uids != null">
            and target in

            <foreach collection="uids" item="item" index="index"
                     open="(" separator="," close=")">#{item}
            </foreach>

        </if>

        <if test="type != null">
            and type =#{type}

        </if>
    </select>


    <select id="findFriends" parameterType="map" resultMap="followsMap">
        select * from follows where type = 2

        <if test="uids != null">
            and uid in

            <foreach collection="uids" item="item" index="index"
                     open="(" separator="," close=")">#{item}
            </foreach>

        </if>

        order by tkey desc
        <if test="start != null and rows != null">
            limit #{start},#{rows}

        </if>
    </select>

</mapper>
