<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="pageSqlId" value=".*Page$" />
	</properties>
	
	<!-- 分页模块plugin -->
	<plugins>
        <plugin interceptor="com.demai.mybatis.interceptor.PaginationInterceptor" />
    </plugins>
    
</configuration>	
